.shell {
  position: relative;
  min-height: 100svh;
  margin: 0 auto;
}

.main {
  position: relative;
  max-height: calc(100svh - 125px);
  overflow-y: auto;
  z-index: 1;
  padding: 16px 18px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://res.cloudinary.com/dmc7wmarf/image/upload/v1771775270/ChatGPT_Image_Jan_10_2026_11_32_39_AM_-_Copy_bcpc4f.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.08;
    pointer-events: none;
    z-index: -1;
  }
}
